

<% if @business.name.nil? or @business.name == "" %>
	<h2>Edit Business's Profile</h2>
<% else %>
	<h2>Edit <%= @business.name %>'s Profile</h2>
<% end %>
<%= simple_form_for(@business, as: @business, url: business_path(@business), html: { method: :patch }) do |f| %>
	<%= f.error_notification %>
	<div class="form-inputs">
		<%= f.input :name, required: true, autofocus: true %>
		<%= f.input :address, required: true %>
		<%= f.input :logo_url, as: :file %>
		<% if current_account and current_account.accountable_type=="Chamber" %>
  		<%= f.input :expiration, as: :date, start_year: @business.expiration.year,
                              end_year: Date.today.year + 12,
                              order: [:month, :day, :year] %>
        <% end %>
	</div>
	<div class="form-actions">
		<%= f.button :submit, "Update" %>
	</div>
<% end %>