

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<br>
<div class="jumbotron">
  <div class="container text-center">
    <h1> Moody Friendly Businesses</h1>      
  </div>
</div>

<br>

<div class="container">    
  <div class="row">
<div class="list-group long-scroll-box">


	<% @businesses.each do |business| %>
  <% if business.name != nil %>
    <%= link_to business, class:"link-to-text" do %>
	  <div class="list-group-item list-group-item-action flex-column align-items-start">
      <table class="table mobi">
        <tbody class="mobi">
          <tr class="mobi">
          	<td class="mobi"> <%= image_tag(business.logo_url, width: 150) if business.logo_url.present? %> </td>
            <td class="mobi">
      	    <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1"><%= business.name %></h2>
      	      <p class="mb-1"><%= business.address %></p>
                  <%= link_to 'flag as inappropriate', report_business_path(business.id), remote: true, data: {confirm: 'Are you sure you want to report this business?'} %>
      	    </div>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
	  </div>
    <% end %>
    <% end %>
  	<% end %>
</div>
  </div>
</div><br><br>




</body>

