

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<br>
<div class="jumbotron">
  <div class="container text-center">
    <h1> Businesses Awaiting Approval </h1>      
  </div>
</div>

<br>


<div class="container">    
  <div class="row">
    <p style="text-align: center;"> <strong> It is recommended that you edit each business before approving and change their expiration date </strong></p>
<div class="list-group long-scroll-box">

	<% @pending_businesses.each do |business| %>
	  <div class="list-group-item list-group-item-action flex-column align-items-start">
      <table class="table">
        <tbody>
          <tr>
          	<td> <%= image_tag(business.logo_url, width: 150) if business.logo_url.present? %> </td>
            <td>
      	    <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1"><%= business.name %></h2>
      	      <p class="mb-1"><%= business.address %></p>
              <p class="mb-1">Expiration: <%= business.expiration %></p>
              <p><%= link_to 'Edit Business', edit_business_path(business.id) %> </p>
              <p>
                <%= link_to 'approve', approve_business_path(business.id), remote: false %>
              </p>
              <p>
                <%= link_to 'disapprove', disapprove_business_path(business.id), remote: false %>
              </p>
      	    </div>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
	  </div>
  	<% end %>
</div>
  </div>
</div><br><br>



</body>

