

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<br>
<div class="jumbotron">
  <div class="container text-center">
    <h1> Expiring Businesses </h1>      
  </div>
</div>

<br>


<div class="container">    
  <div class="row">
<div class="list-group long-scroll-box">


	<% @expiring_businesses.each do |business| %>
	  <div class="list-group-item list-group-item-action flex-column align-items-start">
      <table class="table">
        <tbody>
          <tr>
          	<td> <%= image_tag(business.logo_url, width: 150) if business.logo_url.present? %> </td>
            <td>
      	    <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1"><%= business.name %></h2>
      	      <p class="mb-1"><%= business.address %></p>
              <p class="mb-1"><%= business.account.email %></p>
              <p class="mb-1"> <strong> Expiring </strong> <%= business.expiration.to_date %></p>
              <% if business.expiration.to_date < Date.today.to_date  %>
                <p class="mb-1" style="color: red;"> <strong> EXPIRED </strong></p>
              <p>
                <% if business.account.approved == true %>
                  <%= link_to 'Suspend Business', suspend_business_path(business.id) %>
                <% else %>
                  <p class="mb-1" style="color: red;"> <strong> SUSPENDED </strong></p>
                  <%= link_to 'Unuspend Business', unsuspend_business_path(business.id) %>
                <% end %>
              </p>
              <% end %>
              <p>
                <%= link_to 'Edit Business', edit_business_path(business.id) %>
                <br>
                <%= link_to 'Delete Business',
                  business, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
              </p>


      	    </div>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
	  </div>
  	<% end %>
</div>
  </div>
</div><br><br>



</body>

