<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1 style="text-align: center">Coupons</h1>
<table style="margin: auto">
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New Coupon', new_coupon_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>


    <% @coupons.each do |coupon| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="image">
        <%= image_tag(coupon.image_url, class: 'list_image') %>
      </td>
      <td class="description">
        <h1><%= coupon.title %></h1>
        <p>
          <%= truncate(strip_tags(coupon.description),
          length: 80) %>

          <br><br> Start: <%= coupon.start_time %> <br> End: <%= coupon.end_time %>

        </p>
      </td>
      
      <td class="actions">
      <ul>
        <li><%= link_to 'Show', coupon %></li>
        <li><%= link_to 'Edit', edit_coupon_path(coupon) %></li>
        <li>
        <%= link_to 'Destroy',
          coupon,
          method: :delete,
          data: { confirm: 'Are you sure?' } 
        %>
        </li>
      </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
