<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<p id="notice"><%= notice %></p>

<div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4"><%= @coupon.title %>
        <small><%= @coupon.business.name %></small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-2">
          <%= image_tag(@coupon.image_url, width: 150) if @coupon.image_url.present? %>
        </div>

        <div class="col-md-2">
          <h3 class="my-3">Description</h3>
          <p><%=@coupon.description%></p>
        </div>

        <div class="col-md-2">
          <h3 class="my-3">Details</h3>
          <ul>
            <li><%= @coupon.end_time %></li>
            <li><%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %></li>
          </ul>
        </div>

        <div class="col-md-2">
        <% if current_account %>
              <% if current_account.accountable_type == "Military" %>
                <% if current_account.voted_for? @coupon %>
                  <%= link_to '', unlike_coupon_path(@coupon.id), remote: true,
                                        class: "glyphicon glyphicon-heart like_#{@coupon.id}" %>
                <% else %>
                  <%= link_to '', like_coupon_path(@coupon.id), remote: true,
                                        class: "glyphicon glyphicon-heart-empty like_#{@coupon.id}" %>
                <% end %>
              <% end %>
            <% end %>
        </div>

      </div>