<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @coupon.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @coupon.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @coupon.image_url %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @coupon.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @coupon.end_time %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
