<h2 class="centered">Nearby Coupons</h2>
<ul class="catalog">
	<% @coupons.each do |coupon| %>
		<li>
			<%= link_to image_tag(coupon.image_url), coupon %>
			<h3><%= coupon.title %></h3>
			<p>
				<%= sanitize(coupon.description) %>
				<br>
				Starts: <%= coupon.start_time %>
				<br>
				Ends:   <%= coupon.end_time %>
			</p>
			<br>
			<div class="checkbox">
				  <label><input type="checkbox" value="">Favorite</label>
			</div>
		</li>
	<% end %>
</ul>