<h2 class="centered">Hottest Coupons</h2>
<ul class="catalog">
	<% @coupons.each do |coupon| %>
		<li>
			<%= link_to image_tag(coupon.image_url), coupon %>
			<br>
			<h3><%= coupon.title %></h3>
			<p>
				<%= sanitize(coupon.description) %>
				<br>
				Starts: <%= coupon.start_time %>
				<br>
				Ends:   <%= coupon.end_time %>
			</p>
			<br>
			<% if current_account %>
				<% if current_account.accountable_type == "Military" %>
					<% if current_account.voted_for? coupon %>
					  <%= link_to '', unlike_coupon_path(coupon.id), remote: true,
					                        class: "glyphicon glyphicon-heart like_#{coupon.id}" %>
					<% else %>
					  <%= link_to '', like_coupon_path(coupon.id), remote: true,
					                        class: "glyphicon glyphicon-heart-empty like_#{coupon.id}" %>
					<% end %>
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>