<a href="../coupon_search/index" style="color: white;"> <h2 class="centered">Hottest Coupons</h2> </a>
 <div class="row ">
<div class="list-group scroll-box">

	<% @coupons.each do |coupon| %>

	  <a href="../coupons/<%=coupon.id%>" class="list-group-item list-group-item-action flex-column align-items-start">
      <table class="table mobi">
        <tbody class="mobi">
          <tr class="mobi">
            <td class="mobi"> <%= image_tag(coupon.image_url,  width: 150, style:"border: 5px solid white;") if coupon.image_url.present? %> </td>
            <td class="mobi">
      	    <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1"><%= coupon.title %></h2>
      	      <p class="mb-1"><%= coupon.description %></p>
              <% if current_account %>
                <%= link_to 'flag as inappropriate', report_coupon_path(coupon.id), remote: true, data: {confirm: 'Are you sure you want to report this coupon?'} %>
              <% end %>
      	    </div>
          </td>
          <td class="mobi">
            <div class="d-flex w-100 justify-content-between">
      	     
      	     <small>Expires: <%= coupon.end_time.to_date%></small>
          </div>
          </td>
           <td class="mobi"> <%= image_tag(coupon.business.logo_url, style: "width: 100px;") %> </td>
          <td class="mobi">
			<% if current_account %>
				<% if current_account.accountable_type == "Military" %>
					<% if current_account.voted_for? coupon %>
					  <%= link_to '', unlike_coupon_path(coupon.id), remote: true,
					                        class: "glyphicon glyphicon-heart like_#{coupon.id}" %>
					<% else %>
					  <%= link_to '', like_coupon_path(coupon.id), remote: true,
					                        class: "glyphicon glyphicon-heart-empty like_#{coupon.id}" %>
					<% end %>
				<% end %>
			<% end %>
          </td>
        </tr>
      </tbody>
    </table>
	  </a>
  	<% end %>
</div>
  </div>
