<h2 class="centered">Hottest Coupons</h2>
 <div class="row ">
<div class="list-group scroll-box">

	<% @coupons.each do |coupon| %>

	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <table class="table mobi">
        <tbody class="mobi">
          <tr class="mobi">
            <td class="mobi"> <%= image_tag(coupon.image_url, class: 'img-responsive') if coupon.image_url.present? %> </td>
            <td class="mobi">
      	    <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1"><%= coupon.title %></h2>
      	      <p class="mb-1"><%= coupon.description %></p>
      	    </div>
          </td>
          <td class="mobi">
            <div class="d-flex w-100 justify-content-between">
      	     
      	     <small>Expires: <%= coupon.end_time %></small>
          </div>
          </td>
          <td class="mobi">
			<% if current_account %>
				<% if current_account.accountable_type == "Military" %>
					<% if current_account.voted_for? coupon %>
					  <%= link_to '', unlike_coupon_path(coupon.id), remote: true,
					                        class: "glyphicon glyphicon-heart like_#{coupon.id}" %>
					<% else %>
					  <%= link_to '', like_coupon_path(coupon.id), remote: true,
					                        class: "glyphicon glyphicon-heart-empty like_#{coupon.id}" %>
					<% end %>
				<% end %>
			<% end %>
          </td>
        </tr>
      </tbody>
    </table>
	  </a>
  	<% end %>
</div>
  </div>
