<h2 class="centered">Upcoming Events</h2>
<ul class="catalog">
	<% @upcoming_events.each do |event| %>
		<li>
			<%= link_to image_tag(event.image_url), event %>
			<br>
			<h3><%= event.title %></h3>
			<p>
				<%= sanitize(event.description) %>
				<br>
				Starts: <%= event.start_time %>
				<br>
				Ends:   <%= event.end_time %>
			</p>
			<br>
			<% if current_account %>
				<% if current_account.accountable_type == "Military" %>
					<% if current_account.voted_for? event %>
					  <%= link_to '', unlike_event_path(event.id), remote: true,
					                        class: "glyphicon glyphicon-heart like_event_#{event.id}" %>
					<% else %>
					  <%= link_to '', like_event_path(event.id), remote: true,
					                        class: "glyphicon glyphicon-heart-empty like_event_#{event.id}" %>
					<% end %>
				<% end %>
			<% end %>
		</li>
	<% end %>
</ul>