<h2 class="centered">Upcoming Events</h2>
<ul class="catalog">
	<% @upcoming_events.each do |event| %>
		<li>
			<%= link_to image_tag(event.image_url), event %>
			<h3><%= event.title %></h3>
			<p>
				<%= sanitize(event.description) %>
				<br>
				Starts: <%= event.start_time %>
				<br>
				Ends:   <%= event.end_time %>
			</p>
			<div class="checkbox">
				  <label><input type="checkbox" value="">Favorite</label>
			</div>
		</li>
	<% end %>
</ul>