<h2 class="centered">Upcoming Events</h2>
 <div class="row">
<div class="list-group scroll-box">

	<% @upcoming_events.each do |event| %>

	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <table class="table mobi">
        <tbody class="mobi">
          <tr class="mobi">
            <td class="mobi"> <%= image_tag(event.image_url, width: 150, style:"border: 5px solid white;") if event.image_url.present? %> </td>
            <td class="mobi">
      	    <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1"><%= event.title %></h2>
      	      <p class="mb-1"><%= event.description %></p>
              <%= link_to 'flag as inappropriate', report_event_path(event.id), remote: true, data: {confirm: 'Are you sure you want to report this event?'}  %>
      	    </div>
          </td >
          <td class="mobi">
            <div class="d-flex w-100 justify-content-between">
      	     
      	     <small>Starts: <%= event.start_time.to_date %> at <%=event.start_time.strftime("%I:%M %P") %></small>
             <br>
             <small>Ends: <%= event.end_time.to_date %> at at <%=event.end_time.strftime("%I:%M %P") %> </small>
          </div>
          </td>
         <td class="mobi"> <%= image_tag(event.business.logo_url, style: "width: 150px;") %> </td>
          <td class="mobi">
			<% if current_account %>
				<% if current_account.accountable_type == "Military" %>
					<% if current_account.voted_for? event %>
					  <%= link_to '', unlike_event_path(event.id), remote: true,
					                        class: "glyphicon glyphicon-heart like_event_#{event.id}" %>
					<% else %>
					  <%= link_to '', like_event_path(event.id), remote: true,
					                        class: "glyphicon glyphicon-heart-empty like_event_#{event.id}" %>
					<% end %>
				<% end %>
			<% end %>
          </td>
        </tr>
      </tbody>
    </table>
	  </a>
  	<% end %>
</div>
  </div>