<h1 class="centered">Home</h1>
<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>


<div class="container-fluid">
	<div style="font-size:10em; text-align: center">
		<%= link_to '', coupon_search_index_path(), remote: false,
			class: "glyphicon glyphicon-search" %>
	</div>
	<div>
		<%= render 'home/most_popular_coupons' %>
	</div>

</div>

<div class="container-fluid" style="padding: 5em">
	<div style="font-size:10em; text-align: center">
		<%= link_to '', events_path(), remote: false,
			class: "glyphicon glyphicon-calendar" %>
	</div>
	<div>
		<%= render 'home/upcoming_events' %>
	</div>
</div>

<div class="container-fluid">
	<div style="font-size:10em; text-align: center">
		<%= link_to '', coupon_search_index_path(), remote: false,
			class: "glyphicon glyphicon-briefcase" %>
		<h2> Moody Friendly Businesses</h2>
	</div>

</div>
<div>
	<%= render 'home/most_popular_coupons' %>
</div>
<div>
	<%= render 'home/closest_coupons' %>
</div>
<div>
	<%= render 'home/upcoming_events' %>
</div>

