<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h1>Events</h1>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
    <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %> 
    </div>
  <% end %>
<% end %>



<table>
  <tfoot>
    <tr>
      <td colspan="3">
        <%= link_to 'New event', new_event_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @events.each do |event| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td class="image">
        <%= image_tag(event.image_url, class: 'list_image') %>
      </td>
      <td class="description">
        <h1><%= event.title %></h1>
        <p>
          <%= truncate(strip_tags(event.description),
          length: 80) %>

          <br><br> Start: <%= event.start_time %> <br> End: <%= event.end_time %>

        </p>
      </td>
      
      <td class="actions">
      <ul>
        <li><%= link_to 'Show', event %></li>
        <li><%= link_to 'Edit', edit_event_path(event) %></li>
        <li>
        <%= link_to 'Destroy',
          event,
          method: :delete,
          data: { confirm: 'Are you sure?' } 
        %>
        </li>
      </ul>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>