<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>


<br>
<div class="jumbotron calendar">
  <div class="container text-center">
    <h1> Events </h1>      
  </div>
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
    <% events.each do |event| %>
    <div>
      <%= link_to event.title, event %> 
    </div>
  <% end %>
<% end %>
</div>

<br>


<div class="container">    
  <div class="row">
<div class="list-group scroll-box">


  <% @events.each do |event| %>
  <% if event.title != nil %>
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <table class="table mobi">
        <tbody class="mobi">
          <tr class="mobi">
            <td class="mobi"> <%= image_tag(event.image_url, width: 150) if event.image_url.present? %> </td>
            <td>
            <div class="d-flex w-100 justify-content-between">
              <h2 class="mb-1"><%= event.title %></h2>
              <p class="mb-1"><%= event.business.name %></p>
                  
                 <p> <%= truncate(strip_tags(event.description),
                  length: 80) %>

                 <small>Starts: <%= event.start_time.to_date %> at <%=event.start_time.strftime("%I:%M %P") %></small>
                 <br>
                 <small>Ends: <%= event.end_time.to_date %> at at <%=event.end_time.strftime("%I:%M %P") %> </small>
                 <br>
                  <%= link_to 'flag as inappropriate', report_event_path(event.id), remote: true, data: {confirm: 'Are you sure you want to report this event?'} %>
            </div>
          </td>
          <td>
          <% if current_account and (current_account.accountable_type == "Business" or current_account.accountable_type == "Chamber") %>
          <ul>
            <li><%= link_to 'Show', event %></li>
            <li><%= link_to 'Edit', edit_event_path(event) %></li>
            <li>
            <%= link_to 'Destroy',
              event,
              method: :delete,
              data: { confirm: 'Are you sure?' } 
            %>
            </li>
          </ul>
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <% end %>
    <% end %>
</div>
  </div>
</div><br><br>




</body>