<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Image url:</strong>
  <br>
  <%= image_tag(@event.image_url, width: 150) if @event.image_url.present? %>
</p>

<p>
    Starts: <%= @event.start_time.to_date %> at <%= @event.start_time.strftime("%I:%M %P") %>
    <br>
    Ends: <%= @event.end_time.to_date %> at at <%= @event.end_time.strftime("%I:%M %P") %> 
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
