<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>


<div class="container">

      <!-- Portfolio Item Heading -->
      <h1 class="my-4" style="text-align: center;"><%= @event.title %>
        <small><%= @event.business.name %></small>
      </h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div style="text-align: center;">
          <%= image_tag(@event.image_url, width: 150, class:"shadow") if @event.image_url.present? %>
        </div>

        <div style="text-align: center;">
          <h3 class="my-3">Description</h3>
          <p><%=@event.description%></p>
          <%= @event.start_time.to_date %> at <%= @event.start_time.strftime("%I:%M %P") %>
          <% if @event.fblink %>
            <p><strong><a href="//<%=@event.fblink%>">Visit our facebook page!</a></strong></p>
          <% end %>
          <br>
          <br>
          <% if current_account and current_account.accountable_type == "Business" %>
            <%= link_to 'Edit', edit_event_path(@event) %>
        <% end %>
        </div>


        <div style="text-align: center;">
        <% if current_account %>
              <% if current_account.accountable_type == "Military" %>
                <% if current_account.voted_for? @event %>
                  <%= link_to '', unlike_event_path(@event.id), remote: true,
                                        class: "glyphicon glyphicon-heart like_event_#{@event.id}" %>
                <% else %>
                  <%= link_to '', like_event_path(@event.id), remote: true,
                                        class: "glyphicon glyphicon-heart-empty like_event_#{@event.id}" %>
                <% end %>
              <% end %>
            <% end %>
        </div>

      </div>
