
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Moody Discounts</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
			<li><%= link_to 'Home', home_index_path %></li>
			<li><%= link_to 'Coupons', coupon_search_index_path %></li>
			<li><%= link_to 'Events', events_path %></li>
			<% if account_signed_in? %>  
				<% if current_account.accountable_type == "Military" %>
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">
							My Settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Profile Settings', edit_military_path(current_account.accountable_id) %></li>
							<li><%= link_to 'Account Settings', edit_account_registration_path%></li>
						</ul>
					</li>
					<li><%= link_to 'My Page', militaries_my_page_path%></li>
				<% elsif current_account.accountable_type == "Business" %>

					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">
							My Settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Profile Settings', edit_business_path(current_account.accountable_id) %></li>
							<li><%= link_to 'Account Settings', edit_account_registration_path%></li>
						</ul>
					</li>

					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">
							My Pages <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'My Page', business_path(current_account.accountable_id) %></li>
							<li><%= link_to 'My Coupons', business_coupons_path(current_account.accountable_id) %></li>
							<li><%= link_to 'My Events', business_events_path(current_account.accountable_id) %></li>
							<li><%= link_to 'My Stats', stats_business_path(current_account.accountable_id) %></li>
						</ul>
					</li>

				<% else %>
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">
							My Settings <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Profile Settings', edit_chamber_path(current_account.accountable_id) %></li>
							<li><%= link_to 'Account Settings', edit_account_registration_path%></li>
						</ul>
					</li>
					<li role="presentation" class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
							aria-haspopup="true" aria-expanded="false">
							My Pages <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Business Approvals', chambers_approvals_path() %></li>
						</ul>
					</li>
					<li><%= link_to 'Admin', admin_accounts_path() %></li>
				<% end %>

				<li><%= link_to 'Sign out', destroy_account_session_path, :method=>'delete' %></li>
			<% else %>  
				<li><%= link_to 'Sign in', new_account_session_path %></li>  
				<li><%= link_to 'Sign up', new_account_registration_path %></li>
			<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>